  

    *{
      margin:0;
      padding:0;
      box-sizing:border-box;
    }

    body{
      background:#f7f7f7;
      font-family:'Poppins', sans-serif;
      display:flex;
      justify-content:center;
      padding:20px;
      color:#111;
    }

    .convite{
      width:100%;
      max-width:420px;
      background:white;
      border-radius:25px;
      overflow:hidden;
      position:relative;
      box-shadow:0 10px 40px rgba(0,0,0,0.08);
    }

    .topo{
      width:100%;
      height:420px;
      background:url(imagens/casal.jpg) center/cover;
      position:relative;
    }

    .fade{
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      height:180px;
      background:linear-gradient(to top, white 20%, transparent);
    }

    .conteudo{
      padding:20px 28px 40px;
      text-align:center;
      position:relative;
    }

    .nomes{
      font-family:'Cormorant Garamond', serif;
      color:#072d79;
      line-height:0.9;
      margin-top:-40px;
      position:relative;
      z-index:2;
    }

    .nomes h1{
      font-size:64px;
      font-weight:500;
      letter-spacing:2px;
    }

    .e{
      font-size:28px;
      margin:10px 0;
    }

    .texto{
      margin-top:25px;
      font-size:20px;
      line-height:1.5;
      font-family:'Cormorant Garamond', serif;
    }

    .data{
      margin-top:40px;
      font-family:'Cormorant Garamond', serif;
    }

    .data h2{
      font-size:28px;
      font-weight:500;
      border-bottom:1px solid #0d2f74;
      display:inline-block;
      padding-bottom:10px;
      margin-bottom:12px;
    }

    .data p{
      font-size:24px;
      font-weight:500;
    }

    .botoes{
      margin-top:45px;
      display:flex;
      justify-content:space-between;
      gap:2px;
    }

    .item{
      flex:1;
      text-align:center;
    }
    a{
      text-decoration: none;
    }
    a:visited{
      color:inherit;
    }
    .icone{
      width:52px;
      height:52px;
      margin:auto;
      background:#072d79;
      border-radius:50%;
      display:flex;
      align-items:center;
      justify-content:center;
      font-size:38px;
      color:white;
      margin-bottom:15px;
      transition:0.3s;
      cursor:pointer;

    }

    .icone:hover{
      transform:scale(1.08);
    }

    .item span{
      font-family:'Cormorant Garamond', serif;
      font-size:15px;
      line-height:1.1;
      display:block;
    }

    /* Flores decorativas */

    .flor-esq,
    .flor-dir{
      position:absolute;
      width:140px;
      opacity:0.9;
      z-index:1;
    }

    .flor-esq{
      left:-35px;
      bottom:230px;
      transform:rotate(-8deg);
    }

    .flor-dir{
      right:-35px;
      bottom:170px;
      transform:rotate(10deg);
    }

    @media(max-width:480px){

      .topo{
        height:360px;
      }

      .nomes h1{
        font-size:52px;
      }

      .texto{
        font-size:18px;
      }

      .data h2{
        font-size:24px;
      }

      .data p{
        font-size:21px;
      }

      .icone{
        width:45px;
        height:45px;
        font-size:30px;
      }

      .item span{
        font-size:12px;
      }

    }

